.horizontal-l {
  margin-bottom: 0.5rem;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.section-l {
  flex-grow: 1;
}

.section-r {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
