.album-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 12rem;
}

.img-album:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  -webkit-filter: brightness(80%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.img-album {
  width: 12rem;
  height: 12rem;
  border-radius: 8px;
  background-color: #ececec;
  margin-bottom: 0.5rem;
  cursor: pointer;
  image-rendering: optimizeSpeed;
  object-fit: cover;
}
