.container-playlist {
  display: flex;
  flex-direction: column;
  height: 360px;
  flex-grow: 1;
  background-color: #f4f5f7;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.bio {
  margin-top: 1rem;
}
