.album-page-container {
  padding: 2rem;
  box-shadow: 0 5px 24px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: auto;
}

.album-cover {
  height: 10rem;
  width: 10rem;
  margin: 1rem 1rem;
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}

.section-info {
  margin: 1rem;
}

.section-tacks {
  margin-top: 2rem;
}
